.butt{
  background-color: transparent;
  border: none;
}
.nav{
  position: fixed;
  left: 0; top: 0;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid gray;
}
.butt-nav{
  background-color: transparent;
  border: none;
}
.footer {
  position: fixed;
  left: 0; bottom: 0;
  padding: 10px;
  width: 100%;
  border-top: 1px solid gray;
}
.footer:right {
  left: 80%; bottom: 0;
}
.main-image{
  margin-top: 150px;
}
.main {
  width: 300px;
  margin: auto;
}
.H {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.center {
  padding: 0;
  width: 100%;
}

.contact {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  width: 100%;
}

